a{
    font-size:100px;
}
a:after{
    content:', ';
    display:inline;
}
a:visited{
    color:blue
}

html{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>‍🦄</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

a:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>‍️✨</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

a.gone{
    text-decoration: none;
    color:lightgrey;
}
a.gone:hover{
    color:black;
}
@media screen and (max-width:800px){
    a{font-size:44px;}
}