body{
    /* background:rgb(14, 0, 40); */
}

html{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>‍🌏</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

a:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>‍️🌏</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

a{
    display:inline-block;
    text-decoration:none;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    transform:translateX(-50%) translateY(-50%) rotate(-45deg);
    font-size:26px;
    z-index:0;
    height:0px;
}

span{
    transform:rotate(45deg);
}

a:hover{
    z-index:1;
    text-decoration:underline;
    
}

#container{
    position:fixed;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    display:flex;
    justify-content: space-between;
}