a{
    display:block;
    letter-spacing:0em;
    transition:letter-spacing 5s;
    text-align:center;
    font-size: 4vh;
}
  
  a:visited{
    color:blue;
}
  
  a.hover{
    letter-spacing:2em;
    transition: letter-spacing 400ms;
}
  
  
  body{
    margin: 1vh 0px;
}
  
  @keyframes makeSmaller{
    0%{letter-spacing:1em}
    100%{letter-spacing:0em}
}

html{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>‍☕</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

a:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>‍️☕</text></svg>") 16 0,auto; /*!emojicursor.app*/
}