html{
    overflow:hidden;
}

  a{
    display:block;
    text-align:center;
    transform:rotate(0deg);
    transition:transform 300ms;
    font-size:6.5vh;
}

html{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>‍👋</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

a:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>‍️👋</text></svg>") 16 0,auto; /*!emojicursor.app*/
}